{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% block pageTitle %}
  {{ serviceName }} – international account details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{{
  dwpQuickReference({
      ariaLabel: "Case information",
      classes: "dwp-quick-reference--alternative",
      primaryReference: {
          text: 'Name:',
          value: 'Jane Doe'
      },
      secondaryReference: {
          text: 'Benefit:',
          value: 'Maternity allowance'
      }
  })
}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      

      

      {% if isChange %}
      <form class="form" action="/flow1/bank-details-change" method="post">
        {% else %}
      <form class="form" action="/flow1/bank-details" method="post">
        {% endif %}
  
        <h1 class="govuk-heading-l">
          Enter international account details
        </h1>
  
   
        {{ govukInput({
          label: { 
            text: "Name on the account"
          },
          id: "account-holder-name",
          name: "accountHolderName",
          value: data['accountHolderName']
        }) }}
             {{ govukInput({
          label: {
            text: "Country code"
          },
          id: "country-code",
          classes: "govuk-input--width-3",
          name: "countryCode",
          value: data['countryCode'],
          hint: {
            text: "Must be a valid ISO 3166-1 alpha-3 country code"
          }
        }) }}
          
        
        {{ govukInput({
          label: {
            text: "Bank name"
          },
          id: "bank-name",
          name: "bankName",
          value: data['bankName']
        }) }}
        

        {{ govukTextarea({
          name: "bankAddress",
          id: "bank-address",
          value: data['bankAddress'],
          label: {
            text: "Bank address"
          }
        }) }}


        {{ govukRadios({
          name: "account-type",
          value: data['account-type'],
          fieldset: {
            legend: {
              text: "What is the account type?"
            }
          },
          items: [
            {
              value: "checking-current",
              text: "Checking or current account"
            },
            {
              value: "savings",
              text: "Savings account"
            },
            {
              value: "other",
              text: "Other"
            },
            {
              divider: "or"
            },
            {
              value: "dont-know",
              text: "I don't know"
            }
          ]
        }) }}
        
        {{ govukInput({
          label: {
            text: "BIC or SWIFT code"
          },
          id: "bic-swift",
          name: "bicSwift",
          value: data['bicSwift'],
          classes: "govuk-input--width-20",
          hint: {
            text: "Must be between 8 and 11 characters long"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "IBAN"
          },
          id: "iban-number",
          name: "ibanNumber",
          value: data['ibanNumber'],
          hint: {
            text: "Must be between 15 & 34 alphanumeric characters"
          }
        }) }}
        
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
