{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% block pageTitle %}
  {{ serviceName }} – do you know the account type
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{{
  dwpQuickReference({
      ariaLabel: "Case information",
      classes: "dwp-quick-reference--alternative",
      primaryReference: {
          text: 'Name:',
          value: 'Jane Doe'
      },
      secondaryReference: {
          text: 'Benefit:',
          value: 'Maternity allowance'
      }
  })
}}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/account-type-known" method="post">
  
        {{ govukRadios({
          name: "account-type",
          fieldset: {
            legend: {
              text: "Do you know the account type?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, a checking account"
          },
          items: [
            {
              value: "account-known",
              text: "Yes"
            },
            {
              value: "account-unknown",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
