{% extends "layouts/main.html" %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% block pageTitle %}
  {{ serviceName }} – complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "You have completed this task",
        html: "Your researcher will let you know what to do next"
      }) }}

      <form class="form" action="/completed" method="post">
  
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>



    </div>
  </div>

{% endblock %}
