{% extends "layouts/main.html" %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Prototype selection
    </h1>

    <p>1. Simple flow without selection of scenarios</p>
    {{ govukButton({
      text: "Start",
      href: "/flow1/location-alt1"
    }) }}

    <p>2. Selection of scenarios using NINO search</p>

    {{ govukButton({
      text: "Start",
      href: "/flow2/search"
    }) }}    
    <p>3. Selection of scenarios using NINO search</p>

    {{ govukButton({
      text: "Start",
      href: "/flow3/search"
    }) }}
    <p>4. Selection of scenarios using NINO search</p>

    {{ govukButton({
      text: "Start",
      href: "/flow4/search"
    }) }}

</div>
</div>

{% endblock %}
