{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% block pageTitle %}
  {{ serviceName }} – location
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{{
  dwpQuickReference({
      ariaLabel: "Case information",
      classes: "dwp-quick-reference--alternative",
      primaryReference: {
          text: 'Name:',
          value: 'Jane Doe'
      },
      secondaryReference: {
          text: 'Benefit:',
          value: 'Maternity allowance'
      }
  })
}}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if isChange %}
      <form class="form" action="/location-change" method="post">
        {% else %}
        <form class="form" action="/location" method="post">
          {% endif %}
  
        {{ govukRadios({
          name: "location",
          value: data['location'],
          fieldset: {
            legend: {
              text: "Is the account based in the UK?", 
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
