<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
  <div class="dwp-header__service-name">
    <a href="#" class="dwp-header__link">Service name</a>
  </div>
  </div>
  </header>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Example heading
      </h1>
      <p class="govuk-body">
        Example content
      </p>
    </div>
  </div>
  </div>
  </main>
  <footer class="govuk-footer">
  <div class="govuk-width-container">
  <h2 class="govuk-visually-hidden">footer links</h2>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="#1">Item 1</a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="#2">Item 2</a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="#3">Item 3</a>
    </li>
  </ul>
  </div>
  </footer>